.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: auto;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 8px;
  }
  
  label {
    margin-bottom: 10px;
  }
  
  input {
    margin-bottom: 25px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 300px;
  }
  
  button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    margin-bottom: 15px;
    
  }
  .btn-link{
    text-decoration: none;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  p {
    margin-top: 20px;
    text-align: center;
  }
  
  a {
    color: #4caf50;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
 .login-btn{
  margin-top: 20px;
 }
 .login-input{
  margin-bottom: 10px;
 }
  